body {
    margin:0;
}
.container {
    width:100vw;
    height:100vh;
    background-image: linear-gradient(rgb(214, 26, 26), rgb(238, 115, 115));
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    width:90vw;
    height:90vh;
    background-color: gray;
    border-width: 4px;
    border-style:solid ;
    border-color: black;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#backImg {
    width: 90vw;
    height: 90vh;
    border-radius: 1.5%;
}
.header {
    width:100vw;
    height:20vh;
    position: absolute;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-family: "lucida console", monospace;
}
.Lbar {
    width:50vw;
    height:50vh;
    position: absolute;
    top:20vh;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Rbar {
    width:50vw;
    height:50vh;
    position: absolute;
    top:20vh;
    right:0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color:white;
    padding-right: 10vw;
}
.miniRbar {
    width:24vw;
    height:5vh;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1vh solid gray;
    font-family: "lucida console", monospace;
    margin-bottom:5vh;
}
.footer {
    width:100vw;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    padding-top: 50vh;
    align-items: flex-end;
}
#twenty {
    font-family: "lucida console", monospace;
    font-size: 20vh;
    color: white;
    opacity: 0.2;
}
#redNoti {
    /* font-family: "lucida console", monospace; */
    color:  #FFD700;
    font-size: 6vh;
}
#redNoti1 {
    margin-left: 10vw;
}
#watch {
    font-family: "lucida console", monospace;
    color: white;
    font-size: 2vh;
}
#fSvg {
    margin-right: 7vw;
    width:4vw;
    height:6vh;
}