body {
    margin:0;
}
.container {
    width:100vw;
    height:160vh;
    background-image: linear-gradient(rgb(214, 26, 26), rgb(238, 115, 115));
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    width:90vw;
    height:150vh;
    background-image: linear-gradient(brown, black);
    border-width: 4px;
    border-style:solid ;
    border-color: black;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.header {
    width:100vw;
    height:20vh;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Lbar {
    width:35vw;
    height:50vh;
    position: absolute;
    left:0;
    top: 20vh;
    display: flex;
    justify-content: center;
}
.Rbar {
    width:65vw;
    height:50vh;
    position: absolute;
    right:0;
    top: 20vh;
    color: white;
}
.footer {
    width:100vw;
    height:90vh;
    position: absolute;
    bottom:-60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: monospace;
    color: white;
    font-size: 3vh;
}
.description {
    width:50vw;
    display: flex;
    align-items: flex-start;
    font-family: monospace;
}
.checked {
    color: orange;
}
/* .rf {
    width: 50vw;
    display: flex;
    justify-content: space-between;
} */
/* .lf {
    width: 50vw;
    display: flex;
    justify-content: space-between;
} */
#star {
    position: absolute;
    top:0;
    right:10.5vw;
}
#miovie {
    margin-left: 10vw;
    font-family: monospace;
    color: white;
    font-size: 2.5vh;
}
#search {
    width:2.5vw;
    height:4vh;
    position: absolute;
    top: 7.8vh;
    right: 14vw;
}
#profile {
    margin-right:10vw;
    width:2.5vw;
    height:4vh;
}
#poster {
    width:20vw;
    height:50vh;
    border-radius: 5%;
    margin-left: 5vw;
}
#redNoti2 {
    font-size: 4vh;
    font-family: monospace;
    margin-bottom: 3vh;
}
#actors {
    font-size: 4vh;
    font-family: monospace;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#watchMovie {
    width:11vw;
    height:6vh;
    border: none;
    border-radius: 50px;
    background-color: orange;
    color: white;
    font-family: monospace;
    margin-top: 5vh;
}